#gameboard {
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
}
.square {
    height: 40px;
    width: 40px;
    position: relative;
}
.square svg{
    height: 30px;
    width: 30px;
    margin: 5px;
    cursor: pointer;
    /* to make sure the svg sits on top of the square */
    position: relative;
    z-index: -9;
}
path {
    position: relative;
    z-index: -10;
}
.piece{
    /* place the piece infront of the square */
    position: relative;
    z-index: 9;
}
.beige{
    background-color: rgb(110, 110, 98);
}
.brown{
    background-color: rgb(169, 43, 43);
}
.black {
    fill: rgb(28, 28, 28);
}
.white {
    fill: rgb(255, 255, 255);
}