#gameboard {
    width: 80vmin; /* 80% of the minimum of the viewport's height and width */
    height: 80vmin; /* 80% of the minimum of the viewport's height and width */
    background-color: #f0f0f0; /* Set your desired background color */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
}
p{
    font-size: 34px;
}
.square {
    width: calc(100% / 8);
    height: calc(100% / 8);
    position: relative;
    float: left;
  }
.square svg{
    height: 60px;
    width: 60px;
    margin: 5px;
    cursor: pointer;
    /* to make sure the svg sits on top of the square */
    position: relative;
    z-index: -9;
}
path {
    position: relative;
    z-index: -10;
}
.piece{
    /* place the piece infront of the square */
    position: relative;
    z-index: 9;
}
.beige{
    background-color: rgb(110, 110, 98);
}
.brown{
    background-color: rgb(169, 43, 43);
}
.black {
    fill: rgb(28, 28, 28);
}
.white {
    fill: rgb(255, 255, 255);
}